body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.verse {
  min-height: 200px;
  width: 100%;
  border: .5px solid #D3D3D3;
  border-radius: 5px;
  box-shadow: 10px 10px 50px grey;
}

button {
  margin: 1em 0em .5em .2em;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  width: 47%;
}
  
button:hover {
  background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.listening {
  background-color: rgb(255, 52, 52);
}

button.listening:hover {
  background-color: rgb(179, 35, 35)
}

button.listening:active {
  background-color: rgb(179, 35, 35);
}